{
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "plugin:gridsome/recommended",
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {}
}
